@import '../utils/variables.scss';

#root {
    text-align: center;
    margin: 5px auto;
    min-height: 100vh;
    font-family: partyp;
    background-color: $darkgr;
    font-size: 25px;
    color: $magnolia;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "partyp";
    src: url("/src/assets/font.ttf");
}

body {
    display: block !important;
}

a:-webkit-any-link {
    text-decoration: none;
}