@import '../utils/variables.scss';

nav {
    display: flex;
    justify-content: center;
    line-height: 20%;
}

nav>a {
    color: $magnolia;
    padding: 0.7em 1.1em;
    text-decoration: none;
    text-align: center;

    &:active {
        color: $orange;
    }

    &:hover {
        background-color: $lightgr ;
        color:$magnolia;
    }
}

@media screen and (max-width: 800px) {
    nav{   
        flex-direction: column;
      }
}