@import '../utils/variables.scss';

nav {
    display: flex;
    justify-content: center;
    line-height: 20%;
    background-color: $lightgr;
    width: 70%;
    margin:auto;
}

nav>a {
    color: $magnolia;
    padding: 0.7em 1.1em;
    text-decoration: none;
    text-align: center;

    &:active {
        color: $purple;
    }

    &:hover {
        background-color: $ultragr ;
        
    }
}
a:hover {
    color: $orange;
  }

  button:hover {
    border-color: $orange;
    color: $purple;
  }
  button:active{
    background-color: #e6d6ef;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em 0.3em;
    font-size: 0.8em;
    font-weight: 500;
    font-family: inherit;
    background-color:$magnolia;
    color: $darkgr;
    cursor: pointer;
    transition: border-color 0.25s;
  }

@media screen and (max-width: 800px) {
    nav{   
        flex-direction: column;
       
      }
}


@media screen and (max-width: 865px) {
  nav>a{   
      line-height: 80%;
    }
    nav{
      width: 100%;
    }
}